MONGODB_URI=
NEXT_PUBLIC_APP_URL=http://localhost:3000

MOOLRE_BASE_URL=https://api.moolre.com
MOOLRE_API_USER=
MOOLRE_API_PUBKEY=
MOOLRE_API_KEY=
MOOLRE_ACCOUNT_NUMBER=
MOOLRE_COLLECTIONS_ENDPOINT=/embed/link
MOOLRE_DISBURSEMENT_ENDPOINT=/open/transact/transfer
MOOLRE_SMS_ENDPOINT=/open/sms/send
MOOLRE_SMS_VAS_KEY=
MOOLRE_SENDER_ID=YieldPay
MOOLRE_USSD_SERVICE_CODE=*919*4018#
MOOLRE_WEBHOOK_REQUIRE_SIGNATURE=false

GEMINI_API_KEY=
ADMIN_DEMO_KEY=demo123
